*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    
}
table, td, th {
    border: 3px solid black;
    padding:3px;
}
body{background-color: orange;
}
a{
    font-size:50px;
    color:black;
}


/* body{
    justify-content: center;
    background-color: black;
    border:2px solid white;
}

ul{
   position: fixed;
   top:0;
    border:2px solid green;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    color:green;
    width:20%;
    text-align: center;
    text-decoration: none;
    
}
.output{
    color:green;
    
    list-style-type: none;
    
}
.b{position:fixed;
    left:20%
}
.c{position:fixed;
    left:40%
}
.d{position:fixed;
    left:60%
}
.e{position:fixed;
    left:80%
}
h2{
    font-size: 70px;
    color:green;
    text-decoration: underline;
}
 */
