
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{display:flex;}

body{
    background:aqua;
    width:1200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
  
}

#Cookie-Locations{
    display:flex;
    flex-direction: column;
    align-self: center;
    border: 2px solid orange;
    width:100%;

}

ul{
    display:flex;
    justify-content: space-evenly;
    border: 5px solid black;
    background:orange;
}

#Cookie-Locations h1{
    text-align: center;
    font-family: Tilt Neon;
    color: orange;
    background-color: aqua;
    font-size:55px;
    text-decoration: underline;
}
li{
    list-style-type:none;
    text-decoration: underline;
    font-size:50px;
}
#content{
    font-family:Georgia, Times;
    color:rgb(0, 255, 255);
    background:rgb(214, 100, 6);
    height:100%;
    width:98%;
    border:10px solid rgb(0, 255, 255);
    display:flex;
    flex-direction: column;
    align-items: center;
}
#content p {
    background:rgb(214, 100, 6);
    text-align:center;
    padding:10px;
    border: 10px solid black;
    
}
#content img{
   border:5px solid orange;
   width:100%;
   height: 80%;
}
#Footer{
    width:100%;
    height:30px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-evenly;
   border:1px solid black;
   background-color:orange;
   margin-bottom: 10px;

}
span{font-size:20px;
color:black;}

a{color:orange;
background-color: black;
font-size: larger;}


#pics{
    display:flex;
    
}